.project
org.eclipse.m2e.core.prefs
hti-ss-message-validation/.settings
.classpath
hti-ss-message-validation/target
hti-ss-resource-bundle/.settings
hti-ss-resource-bundle/target
hti-ss-tool-config/.settings
hti-ss-tool-config/target
hti-ss-web/.settings
hti-ss-web/target
Hti-ss-web/client/app/bower_components
hti-ss-web/client/.sass-cache
hti-ss-web/client/.tmp
hti-ss-web/client/node_modules